[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
yapf = "*"
black = "*"

[packages]
django = "*"
django-import-export = "*"
django-rest-framework = "*"
django-cors-headers = "*"
pillow = "*"
django-rest-multiple-models = "*"
django-model-utils = "*"
psycopg2-binary = "*"
docutils = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-exiffield = "*"
djangorestframework-gis = "*"
djangorestframework-bulk = "*"
pytest = "*"
django-q = "*"
redis = "*"
django-fieldsignals = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
